* {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Inter';
}

a {
   text-decoration: none; 
}

a:visited {
    color: inherit;
}

.container {
    width: 100%;
    width: 1216px;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background: #000000;
    position: relative;
    overflow-x: hidden;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(13px);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo a {
    font-weight: 900;
    font-size: 36px;
    line-height: 80%;
    background: linear-gradient(180deg, rgba(161, 69, 189, 0.8) 0%, rgba(55, 0, 89, 0.8) 100%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0px -3px 30px #370059;
}

.logo a strong {
    background: #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.logo span {
    display: block;
    margin-top: -2px;
    padding-left: 5px;
    font-size: 14px;
}

.header-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    width: 575px;
}

.button {
  display: inline-block;
  padding: 15px 50px 18px;
  color: #fff;
  /*background: linear-gradient(265.71deg, rgba(161, 69, 189, 0.8) 0%, rgba(55, 0, 89, 0.8) 100%), #FFFFFF;
*/}

.bg {
    position: absolute;
    top:0 ;
    width: 100%;
    left: 0;
}

.hero {
    z-index: 2;
    margin-top: 60px;
    padding-bottom: 500px;
}

.hero-block {
    position: relative;
    max-width: 630px;
    padding-top: 120px;  
}

.hero_title {
    font-size: 80px;
    line-height: 76px;
    letter-spacing: 0.01em;
    margin-bottom: 5px;
}

.hero_subtitle {
    display: block;
    font-weight: 400;
    font-size: 28px;
    line-height: 110%;
    color: #D1D1D1;
    text-shadow: 0px 4px 14px #000000;
    padding-bottom: 120px;
}

.hero_image {
    position: absolute;
    top: 90px;
    right: -650px;
} 

.cond {
    margin-top: 470px;
    background: url(../assets/images/cond/bg.png);
    background-size: 150% 150%;
    background-position: 50% 70%;
    padding-bottom: 200px;
}

.cond-text {
    margin-bottom: 70px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.cond_title {
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #fff;
    margin-bottom: 40px;
}

.cond_description {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #D1D1D1;
}

.cond_item {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: 50px 0 80px 50px;
}

.cond-block {
    display: grid;
    grid-template-columns: 53fr 66fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.cond_item:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
}

.cond_item:nth-child(2) {
    grid-row-start: 2;
    grid-row-end: 4;
}

.cond_item:nth-child(4) {
    grid-row-start: 3;
    grid-row-end: 5;
}

.cond_item:nth-child(5) {
    grid-row-start: 4;
    grid-row-end: 6;
}

.cond_item:nth-child(6) {
    grid-row-start: 5;
    grid-row-end: 7;
}

.cond_item:nth-child(7) {
    grid-row-start: 6;
    grid-row-end: 8;
}

.video-block {
    width: 100%;
}

.complect-wrapper {
    background: #fff;
  }
  
  .complect-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 75px 0 100px;
  }
  
  .complect-block * {
    color: #000;
  }
  
  .complect-heading {
    width: 300px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  .complect-heading_title {
    margin: 20px 0 10px;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.01em;
  }
  
  .complect-heading_description {
    font-size: 14px;
  }
  
  .complect__item img {
    width: 100%;
  }
  
.ci {
    font-size: 30px;
    font-weight: 1000;
    letter-spacing: 0.2em;
}

  @media screen and (max-width: 1279px) {
    .container {
        width: 80vw;
    }
    .header-nav ul {
        width: auto;
    }
    .header-nav li:not(:last-child){
        display: none;
    }
    .bg {
      top: 10vh;
    }
    .hero_image {
        height: 40vw;
        top: 25vh;
        right: -30vw;
    }
    .hero-block {
        max-width: 480px;
      }
      .hero_title {
        font-size: 64px;
        line-height: 100%;
      }
      .hero_subtitle {
        font-size: 20px;
        line-height: 110%;
        margin-bottom: 50px;
      }
      .cond-text {
        width: 575px;
      }
      .cond_title {
        font-size: 40px;
        line-height: 100%;
        margin-bottom: 30px;
      }
      .cond_description {
        padding: 0 30px;
        font-size: 16px;
        line-height: 24px
      }
      .cond-block {
        display: flex;
        flex-direction: column;
      }
      .cond_item:nth-child(2) {
        margin-right: 100px;
      }
      .complect-block {
        display: flex;
        flex-wrap: wrap;
      }
      .complect-heading {
        width: 100%;
        padding: 0 25% 40px;
      }
      .complect_item {
        width: 47%;
        margin: 1%;
      }
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) and (max-height: 900px) {
    .hero_image {
        top: 20vh;
        right: -40vw;
    }
    
  }

  .button {
    transition: transform 2s;
  }

  .button:hover {
    transform: scale(1.1);
  }
  .button {
    background: linear-gradient(180deg, rgba(157, 141, 141, 0.8) 0%, rgba(55, 0, 89, 0.8) 100%), #ffffff;
  }